<ol class="uk-breadcrumb sub-breadcrumb">
  <li><a href="/">V²</a></li>

  <li><a href="{{ site.baseurl }}/{{boardUrl}}/">{{boardName}}</a></li>
  {% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
  {% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
  {% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
  {% for i in (1..forLoopMaxInt) %}
  {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}
  {% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
  {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}

  {% for breadcrumb_page in bookbar %}

  {% capture breadcrumb_pageUrl %}{{site.baseurl}}/{{boardUrl}}{{breadcrumb_page.url}}{% endcapture %}

  {% if current_breadcrumb_url == breadcrumb_pageUrl or
  current_breadcrumb_md_url == breadcrumb_pageUrl %}
  {% assign j = forLoopMaxInt | plus: 0 %}

  <li {% if i == j %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}{{breadcrumb_pageUrl}}">{{breadcrumb_page.menu}}</a>
  </li>

  {% endif %}

  {% for breadcrumb_sub in breadcrumb_page.subitems %}

  {% capture breadcrumb_subUrl %}{{site.baseurl}}/{{boardUrl}}{{breadcrumb_sub.url}}{% endcapture %}

  {% if current_breadcrumb_url == breadcrumb_subUrl or
  current_breadcrumb_md_url == breadcrumb_subUrl %}
  <li {% if i == j %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}{{breadcrumb_subUrl}}">{{breadcrumb_sub.menu}}</a>
  </li>

  {% endif %}

  {% for breadcrumb_group in breadcrumb_sub.group %}

  {% capture breadcrumb_groupUrl %}{{site.baseurl}}/{{boardUrl}}{{breadcrumb_group.url}}{% endcapture %}

  {% if current_breadcrumb_url == breadcrumb_groupUrl or
  current_breadcrumb_md_url == breadcrumb_groupUrl %}

  <li {% if i == j %}class="active"{% endif %}>
    <a href="{{ site.baseurl }}{{breadcrumb_groupUrl}}">{{breadcrumb_group.menu}}</a>
  </li>

  {% endif %}

  {% endfor %}

  {% endfor %}

  {% endfor %}
  {% endfor %}
</ol>