<div layout="row" layout-align="space-between none" no-gap class="status-bar">
  <div>
    {% for my_page in bookbar %}
    {% if navurl contains my_page.url %}
    {% if my_page.subitems or my_page.groups %}
    <md-button toggle-collapse-bar="article-bar" hide show-gt-sm v2-tooltip="<h3>Toggle Article-Bar</h3>Fold to reduce clutter. Unfold to select Article" class="md-icon-button" ng-click="vm.toggleSideBar()" aria-label="Toggle Article Bar">
      <md-icon ng-show="!toggleCollapse.isCollapse" md-svg-src="{{site.baseurl}}/icons/format-horizontal-align-left.svg"></md-icon>
      <md-icon ng-show="toggleCollapse.isCollapse" md-svg-src="{{site.baseurl}}/icons/format-horizontal-align-right.svg"></md-icon>
    </md-button>
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
  <div layout="row" layout-align="none center">

    {% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
    {% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
    {% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}

    {% for i in (1..forLoopMaxInt) %}
    {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}
    {% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
    {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
    {% endfor %}

    {% capture next_prepender %}{% endcapture %}

    <md-button hide show-gt-xs v2-tooltip="<h3>Copy Article Path</h3>Press button and then paste Article-Path into your writing" class="md-icon-button" aria-label="Toggle Copy Article Path"
               clipboard text="'{{pagePath}}'">
      <md-icon md-svg-src="{{site.baseurl}}/icons/clipboard-text.svg"></md-icon>
    </md-button>
    <md-button hide show-gt-xs v2-tooltip="<h3>Link to Article</h3>Press button and then paste the markdown link into your writing
" class="md-icon-button flipped" aria-label="Copy Link to Artcile Path">
      <md-icon md-svg-src="{{site.baseurl}}/icons/clipboard-arrow-left.svg"></md-icon>
    </md-button>
    <div layout="row" no-gap class="progess-bar md-whiteframe-3dp" style="width:240px;z-index:99;">
      <div flex mouseover-tooltip="true" v2-tooltip="<h3>Create</h3>Creating concepts and specs while getting community feedback. Use the <a href='https://github.com/V-Squared/V-Squared.github.io/issues/147'>V²-Flow-Button</a> to contribute. Or post ideas / bugs in Article-Issue. (Orange = work ongoing | Blue = done)" class="{{page.readiness[0]}}"></div>
      <div flex mouseover-tooltip="true" v2-tooltip="<h3>Develop</h3>Develop to the point that the team of author and editors believe it is done. (Orange = work ongoing | Blue = done). Use the <a href='https://github.com/V-Squared/V-Squared.github.io/issues/147'>V²-Flow-Button</a> to get involved" class="{{page.readiness[1]}}"></div>
      <div flex mouseover-tooltip="true" v2-tooltip="<h3>Beta</h3>Beta testing. (Orange = by Core Team | Blue = by Community). Use the <a href='https://github.com/V-Squared/V-Squared.github.io/issues/147'>V²-Flow-Button</a> to report an Issue or create a Pull Request" class="{{page.readiness[2]}}"></div>
      <div flex mouseover-tooltip="true" v2-tooltip="<h3>Make</h3>In Production. (Blue = One time production effort like publishing Article | Orange = Ongoing production effort like manufacturing products. Use the <a href='https://github.com/V-Squared/V-Squared.github.io/issues/147'>V²-Flow-Button</a> to give feedback or get involved in development of next version)" class="{{page.readiness[3]}}"></div>
    </div>
    <md-button mouseover-tooltip="true" v2-tooltip="<h3>Article License</h3>This article is licensed under → <a href='https://creativecommons.org/licenses/by/4.0/'>Creative-Commons-By</a>"
               id="article-license" class="md-icon-button"
               aria-label="License For This Article"
               href="https://creativecommons.org/licenses/by/4.0/" target="_blank" >
      <md-icon md-svg-src="{{site.baseurl}}/icons/icon-license-cc-by.svg"></md-icon>
    </md-button>
  </div>

  <div>
    {% if page.contents %}
    <md-button hide show-gt-sm toggle-collapse-bar="article-toc" v2-tooltip="<h3>Toggle Contents-Bar</h3>Fold to reduce clutter. Unfold it to navigate Table of Contents" class="md-icon-button" aria-label="Toggle Contents Bar">
      <md-icon ng-show="toggleCollapse.isCollapse" md-svg-src="{{site.baseurl}}/icons/format-horizontal-align-left.svg"></md-icon>
      <md-icon ng-show="!toggleCollapse.isCollapse" md-svg-src="{{site.baseurl}}/icons/format-horizontal-align-right.svg"></md-icon>
    </md-button>
    {% endif %}
  </div>
</div>