---
layout: home
---

<div class="home">

  <div class="portfolio-sidenav" off-content-sidebar="520" ng-style="{'display':isDisplay}" ng-class="displayed">
    <ul class="uk-nav">
      <li ng-repeat="sections in vm.repositories" du-scrollspy="[[sections.id]]"><a du-smooth-scroll offset="-1" ng-href="#[[sections.id]]">[[sections.shortName]]</a></li>
    </ul>
  </div>

  <div class="jumbotron">
    <div class="uk-container uk-container-center">
      <div class="jumbotron-title">
        <div class="title-logo">
          <img src="/images/logo-v-squared.png">
        </div>
        <div class="title-text">
          <h1>Modular PC Open Source</h1>
          <h2 class="tagline">Upgradable Mini and All-In-One PC</h2>
        </div>
      </div>
      <p class="uk-text-justify"><i>V-Squared</i> is an Open Source, Non-Profit Standard Initiative and Community on <a href="https://github.com/V-Squared">GitHub.com/V-Squared</a> that creates, compiles and catalogs projects, know-how articles, standards, blue prints and applications for the purpose to make Mini and All-In-One Computer modular, ugradable and easy to repair. For the benefit of the individual DIY person as well as the industry as a whole. We have published what we have under CC and MIT License and we are working on closing all holes. Since this is Open Source, you are invited to help. Or simply use what is already available. Pay attention to the progress bars and ribbons.</p>
    </div>
  </div>

  <div class="compliances">

    <div class="uk-container uk-container-center">

      <div class="uk-grid uk-grid-width-1-6 compliances-row">
        <div id="github-compliances">
          <h3 data-uk-tooltip title="We host all projects, web sites and know how on the leading Project Hosting Web Site. Project management is done with its ticketing system &#34;GitHub Issues&#34; .">GitHub</h3>
        </div>
        <div id="open-source-compliances">
          <h3 data-uk-tooltip title="V² Initiative is compliant with all Guidelines of the Open Source Initiative. Use V² or contribute to it with confidence.">Open Source Initiative</h3>
        </div>
        <div id="open-hardware-compliances">
          <h3 data-uk-tooltip title="All our open source hardware projects are compliant to the guidelines of the Open Source Hardware Association and thus earned the Open Source Hardware Logo.">Open Hardware</h3>
        </div>
        <div id="mit-compliances">
          <h3 data-uk-tooltip title="MIT License is the most free to copy license in the Open Source Software world. Copy our designs with confidence for any intended use.">MIT</h3>
        </div>
        <div id="cc-compliances">
          <h3 data-uk-tooltip title="Creative Commons License is the most free to copy license in the Open Source Hardware world. Copy our designs with confidence for any intended use.">CC</h3>
        </div>
        <div id="arduino-compliances">
          <h3 data-uk-tooltip title="The leading Open Source Micro Controller Platform. We use it for advanced embedded functions. Easy to develop and document. Low cost in mass production.">Arduino</h3>
        </div>
      </div>

      <p class="footnote">V² Open Source gives access to Standards and Development Kits with zero delay, costs or risks. See Tooltips for more info</p>
    </div>

  </div>

  
  <div class="table-of-content" data-uk-sticky="{media: '(max-width: 1435px)'}">
    <div class="uk-container uk-container-center">
      <div class="portlotifo-nav">
        <ul>
          <li du-spy-context ng-repeat="sections in vm.repositories" du-scrollspy="[[sections.id]]"><a du-smooth-scroll offset="-1" ng-href="#[[sections.id]]">[[sections.shortName]]</a></li>
        </ul>
      </div>
    </div>
  </div>

  
  <div class="portfolio">
    <div class="portfolio-section" ng-repeat="repositorySection in vm.repositories" id="[[repositorySection.id]]">
      <div class="uk-container uk-container-center">
        <h2><a ng-href="[[repositorySection.link]]">[[repositorySection.name]]</a></h2>
        <p><em>[[repositorySection.description]]</em></p>
        <div class="uk-grid uk-grid-width-medium-1-3 uk-grid-width-small-1-2">
          <div ng-repeat="repository in repositorySection.items">
            <h3>[[repository.name]]</h3>
            <a ng-href="[[repository.gitLink]]">GitHub</a>
            <a ng-if="repository.webLink" ng-href="[[repository.webLink]]">Website</a>
            <br />
            <figure ng-style="repository.borderColor ? {border: '0.7pt solid ' + repository.borderColor} : {}" class="uk-overlay uk-overlay-hover">
              <img ng-src="[[repository.img]]">
              <div class="ribbon-wrapper" data-uk-tooltip title="[[ribbon.tooltip]]" ng-repeat="ribbon in vm.ribbon" ng-if="ribbon.name == repository.ribbonName">
                <div class="ribbon" ng-style="{background: ribbon.color}">[[ribbon.name]]</div>
              </div>
              <figcaption ng-bind-html="repository.description" class="uk-overlay-panel uk-overlay-background  uk-overlay-bottom uk-overlay-slide-bottom"></figcaption>
            </figure>
          <!--<div class="uk-progress" ng-if="repository.progress">
           <div class="uk-progress-bar" ng-style="{width: repository.progress + '%'}"></div>
          </div>
          <div class="uk-progress-overlay" ng-if="repository.progress">
            <div>Create</div>
            <div>Develop</div>
            <div>Beta</div>
            <div>Make</div>
          </div>-->

          <div class="progess-bar" ng-if="repository.progress">
            <ol class="progress progress--small">
              <li data-step="1" data-uk-tooltip title="Creating the Concept and Specs while getting Community's feedback. Cast your Vote or propose a Feature." ng-class="repository.progress[0]">
                Create
              </li>
              <li data-step="2" data-uk-tooltip title="Making it happen. If we already moved it to GitHub you can join by Opening Issues with Enhancement Requests or by assiging yourself to Issues in search for an owner or simply Fork, Improve and make a Pull Request." ng-class="repository.progress[1]">
                Develop
              </li>
              <li data-step="3" data-uk-tooltip title="Beta Testing. Fine tuning Functionality with Pre-Production Units. Get involved and provide enhancement requests. " ng-class="repository.progress[2]">
                Beta
              </li>
              <li data-step="4" data-uk-tooltip title="Enjoy! It is ready to use. Let us know your praise or file a bug report in GitHub Issues." ng-class="repository.progress[3]" class="progress__last">
                Make
              </li>
            </ol>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
</div>

<script type="text/javascript" src="_javascript/controller/homeController.js"></script>
