---
layout: home
---

<div class="home" load-repository="repository.json">

	<div class="jumbotron" id="home-introduction">
		<div class="uk-container uk-container-center">
			<div class="jumbotron-title">
				<div class="title-logo">
					<img src="/images/logo-v-squared.png">
				</div>
				<div class="title-text">
					<h1>Modular PC Open Source</h1>
					<h2 class="tagline">Upgradable Mini and All-In-One PC</h2>
				</div>
			</div>
			<p class="uk-text-center"><i>V-Squared</i> is an Open Source Standard Initiative and Community on <a href="https://github.com/V-Squared">GitHub.com/V-Squared</a>. We develop and publish standards, blueprints, know how articles, white papers and apps to make Mini and All-In-One Computer modular, ugradable and easy to repair. For the benefit of the individual user as well as the DIY Community and PC Industry as a whole.</p>
		</div>
	</div>

	<div class="compliances">

		<div class="uk-container uk-container-center">

			<div class="uk-grid uk-grid-width-medium-1-5 uk-grid-width-1-2 compliances-row">
				<div id="github-compliances">
					<h3 data-uk-tooltip title="We host all projects, web sites and know how on the leading Project Hosting Web Site. Project management is done with its ticketing system &#34;GitHub Issues&#34; .">GitHub</h3>
				</div>
				<div id="open-source-compliances">
					<h3 data-uk-tooltip title="V² Initiative is compliant with all Guidelines of the Open Source Initiative. Use V² or contribute to it with confidence.">Open Source Initiative</h3>
				</div>
				<div id="open-hardware-compliances">
					<h3 data-uk-tooltip title="All our open source hardware projects are compliant to the guidelines of the Open Source Hardware Association and thus earned the Open Source Hardware Logo.">Open Hardware</h3>
				</div>
				<div id="cc-compliances">
					<h3 data-uk-tooltip title="Creative Commons License is the most free to copy license in the Open Source Hardware world. Copy our designs with confidence for any intended use.">CC</h3>
				</div>
				<div id="arduino-compliances">
					<h3 data-uk-tooltip title="The leading Open Source Micro Controller Platform. We use it for advanced embedded functions. Easy to develop and document. Low cost in mass production.">Arduino</h3>
				</div>
			</div>

			<p class="footnote">V² Open Source gives access to Standards and Development Kits with zero delay, costs or risks. See Tooltips for more info</p>
		</div>

	</div>

	<div class="feature-section">
		<div class="uk-container uk-container-center">
			<h1>The Missing Standard</h1>
			<p>Desktop Computer were the best selling PC form factor, because the ATX standard made them to be lowest cost, easy to build and upgrade. But this de facto standard is 30 years old and was not updated to fit the needs of Mini and All-In-One Form Factor. The V² Standard lowers cost, increases performance and simplifies upgrading. In doing so V² is breathing new life into Mini and All-In-One PCs.</p>
		</div>
	</div>

	<div class="feature-section light-blue">
		<div class="uk-container uk-container-center">
			<h1>Open Source Accelerator</h1>
			<p>Establishing a new standard was time consuming in the past. V² speeds up the process by fully embracing the best of Open Source and Rapid Development workflows. Hover over the Logos to learn more ...</p>
		</div>
	</div>

	<div class="feature-section">
		<div class="uk-container uk-container-center">
			<h1>Zero Cost</h1>
			<p>To further speed up the introduction of the V² Standard we are introducing it at Zero Cost, as in free beer, and it will always stay that way. In other words, license for comercial use, license of the logo or product certification are all available at $0 US cost.</p>
		</div>
	</div>

	<div class="feature-section light-blue">
		<div class="uk-container uk-container-center">
			<h1>Timeline</h1>
			<p>We began research of V² Modular PC in 2011 and started prototyping in 2013. Now in 2016 we are ready to go to production. Please hover / tab on the timeline for more details.</p>
		</div>
	</div>

	<div class="feature-section gray">
		<div class="uk-container uk-container-center">
			<h1>Trailblazer Products</h1>
			<p>Specifications of a new standard on the web is one thing. Having a finished product in hand for testing is quite another. This is where Trailblazer Products come in:
			</p>
			<br>
			<br>
			<br>
			<div class="uk-grid uk-grid-width-1-4 uk-text-center">
				<div>
					<span>Proof of concept of the V² Standard</span>
				</div>
				<div>
					<span>Demo the value of V² Standard with real products</span>
				</div>
				<div>
					<span>Early adopters can buy Trailblazer Products for testing / reviewing or simply personal use before mass production becomes available.</span>
				</div>
				<div>
					<span>Funding of V² Standard development.</span>
				</div>
			</div>
		</div>
	</div>

	<div class="feature-section">
		<div class="uk-container uk-container-center">
			<h1>Usable Work in Progress</h1>
			<p>Our development of the standard has progressed far enough that we could develop working Trailblazer Products. We are now in the process of moving all that we have to GitHub. The GitHub Batch and Progress Bar inform you of the status and expected improvements.</p>
		</div>
	</div>

	<div class="feature-section light-blue">
		<div class="uk-container uk-container-center">
			<h1>Delivering all pieces of the Puzzle</h1>
			<p>V² mission is to make Modular Mini and All-In-One Computer mainstream. To speed up the process we are not only delivering the V² Standard. Hover (or tab on mobile) over each piece of the puzzle to see how it contributes to the whole.</p>
		</div>
	</div>

	<div id="section-seperator" class="call-to-action">
		<div class="uk-container uk-container-center uk-text-center">
			<h1 style="margin:0"><a du-smooth-scroll href="#missing-standard"><i class="uk-icon-hand-o-right"></i> Explore what V² offers for you</a></h1>
		</div>
	</div>

	<div class="table-of-content uk-navbar" data-uk-sticky>
	  <div class="uk-container uk-container-center">
	    <div class="portlotifo-nav">
	      <ul class="uk-navbar-nav">
	      	<li du-scrollspy="introduction">
	      		<a du-smooth-scroll href="#home-introduction" offset="60">Intro</a>
	      	</li>
	        <li ng-repeat="sections in json.repositories" du-scrollspy="[[sections.id]]"><a du-smooth-scroll ng-href="#[[sections.id]]">[[sections.shortName]]</a></li>
	      </ul>
	    </div>
	  </div>
	</div>


	<div class="portfolio">
		<div class="portfolio-section" ng-repeat="repositorySection in json.repositories" id="[[repositorySection.id]]">
			<div class="portfolio-heading">
				<div class="uk-container uk-container-center">
					<h1><a ng-href="[[repositorySection.link]]">[[repositorySection.name]]</a></h1>
					<p><em>[[repositorySection.description]]</em></p>
				</div>
			</div>
			<div class="uk-container uk-container-center">
			<div class="uk-grid uk-grid-width-medium-1-3 uk-grid-width-small-1-2">
				<div ng-repeat="repository in repositorySection.items">
					<h3>[[repository.name]]</h3>
					<a ng-href="[[repository.gitLink]]">GitHub</a>
					<a ng-if="repository.webLink" ng-href="[[repository.webLink]]">Website</a>
					<br />
					<figure ng-style="repository.borderColor ? {border: '0.7pt solid ' + repository.borderColor} : {}" class="uk-overlay uk-overlay-hover">
						<img ng-src="[[repository.img]]">
						<div class="ribbon-wrapper" data-uk-tooltip title="[[ribbon.tooltip]]" ng-repeat="ribbon in vm.ribbon" ng-if="ribbon.name == repository.ribbonName">
							<div class="ribbon" ng-style="{background: ribbon.color}">[[ribbon.name]]</div>
						</div>
						<figcaption ng-bind-html="repository.description" class="uk-overlay-panel uk-overlay-background  uk-overlay-bottom uk-overlay-slide-bottom"></figcaption>
					</figure>
          <!--<div class="uk-progress" ng-if="repository.progress">
           <div class="uk-progress-bar" ng-style="{width: repository.progress + '%'}"></div>
          </div>
          <div class="uk-progress-overlay" ng-if="repository.progress">
            <div>Create</div>
            <div>Develop</div>
            <div>Beta</div>
            <div>Make</div>
          </div>-->

          <div class="progess-bar" ng-if="repository.progress">
          	<ol class="progress progress--small">
          		<li data-step="1" data-uk-tooltip title="Creating the Concept and Specs while getting Community's feedback. Cast your Vote or propose a Feature." ng-class="repository.progress[0]">
          			Create
          		</li>
          		<li data-step="2" data-uk-tooltip title="Making it happen. If we already moved it to GitHub you can join by Opening Issues with Enhancement Requests or by assiging yourself to Issues in search for an owner or simply Fork, Improve and make a Pull Request." ng-class="repository.progress[1]">
          			Develop
          		</li>
          		<li data-step="3" data-uk-tooltip title="Beta Testing. Fine tuning Functionality with Pre-Production Units. Get involved and provide enhancement requests. " ng-class="repository.progress[2]">
          			Beta
          		</li>
          		<li data-step="4" data-uk-tooltip title="Enjoy! It is ready to use. Let us know your praise or file a bug report in GitHub Issues." ng-class="repository.progress[3]" class="progress__last">
          			Make
          		</li>
          	</ol>
          </div>

        </div>
      </div>
      </div>
    </div>

  </div>
</div>
