---
layout: default
---

<div class="home" ng-controller="homeController as vm">

  <div class="intro">
    <h2 class="tagline">
      Initiative for Modular and Upgradable Mini and All-In-One PC
    </h2>
    <p class="abstract uk-text-center">
      This is an Open Source, Non-Profit Organization on GitHub that creates, compiles and catalogs projects, know-how articles, standards, blue prints and applications for the purpose to make Mini and All-In-One Computer modular and ugradable. For the benefit of the individual DIY person as well as the industry as a whole. We have published what we have under CC and MIT License and we are working on closing all holes. Since this is Open Source, you are invited to help. Or simply use what is already available. Pay attention to the progress bars and ribbons.
    </p>
    <div class="portlotifo-nav">
        <ul>
          <li><a href="#for-maker"    data-uk-smooth-scroll >For Maker</a></li>
          <li><a href="#for-diy"      data-uk-smooth-scroll >For DIY</a></li>
          <li><a href="#products"     data-uk-smooth-scroll >Products</a></li>
          <li><a href="#social"       data-uk-smooth-scroll >Social Media</a></li>
          <li><a href="#marketing"    data-uk-smooth-scroll >Marketing</a></li>
          <li><a href="#organization" data-uk-smooth-scroll >Organization</a></li>
          <li><a href="#misc"         data-uk-smooth-scroll >Misc</a></li>
        </ul>
    </div>
  </div>

  
  
  <div class="portfolio">
    <div class="portfolio-section" ng-repeat="repositorySection in vm.repositories" id="[[repositorySection.id]]">
      <h2>[[repositorySection.name]]</h2>
      <p><em>[[repositorySection.description]]</em></p>
      <div class="uk-grid uk-grid-width-medium-1-3 uk-grid-width-small-1-2">
        <div ng-repeat="repository in repositorySection.items">
          <h3>[[repository.name]]</h3>
          <a ng-href="[[repository.gitLink]]">GitHub</a>
          <a ng-if="repository.webLink" ng-href="[[repository.webLink]]">Website</a>
          <br />
          <figure class="uk-overlay uk-overlay-hover">
            <img ng-src="[[repository.img]]">
            <div class="ribbon-wrapper" data-uk-tooltip title="[[ribbon.tooltip]]" ng-repeat="ribbon in vm.ribbon" ng-if="ribbon.name == repository.ribbonName">
              <div class="ribbon" ng-style="{background: ribbon.color}">[[ribbon.name]]</div>
            </div>
            <figcaption ng-bind-html="repository.description" class="uk-overlay-panel uk-overlay-background  uk-overlay-bottom uk-overlay-slide-bottom"></figcaption>
          </figure>
          <!--<div class="uk-progress" ng-if="repository.progress">
           <div class="uk-progress-bar" ng-style="{width: repository.progress + '%'}"></div>
          </div>
          <div class="uk-progress-overlay" ng-if="repository.progress">
            <div>Create</div>
            <div>Develop</div>
            <div>Beta</div>
            <div>Make</div>
          </div>-->

          <div class="progess-bar" ng-if="repository.progress">
            <ol class="progress progress--small">
              <li data-step="1" data-uk-tooltip title="Creating the Concept and Specs while getting Community's feedback. Cast your Vote or propose a Feature." ng-class="repository.progress[0]">
                Create
              </li>
              <li data-step="2" data-uk-tooltip title="Making it happen. If we already moved it to GitHub you can join by Opening Issues with Enhancement Requests or by assiging yourself to Issues in search for an owner or simply Fork, Improve and make a Pull Request." ng-class="repository.progress[1]">
                Develop
              </li>
              <li data-step="3" data-uk-tooltip title="Beta Testing. Fine tuning Functionality with Pre-Production Units. Get involved and provide enhancement requests. " ng-class="repository.progress[2]">
                Beta
              </li>
              <li data-step="4" data-uk-tooltip title="Enjoy! It is ready to use. Let us know your praise or file a bug report in GitHub Issues." ng-class="repository.progress[3]" class="progress__last">
                Make
              </li>
            </ol>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="js/controller/homeController.js"></script>
