{% assign navurl = page.url | remove: 'index.html' %}

{% for my_page in include.nav %}
{% if navurl contains my_page.url %}
{% if my_page.subitems or my_page.groups %}

<collapse-bar id="article-bar">

  <div style="margin-top: 38px;"></div>

  <div class="v2-bookinfo">
    <h3>{{ my_page.menu }}</h3>
    <p>{{ my_page.desc }}</p>
  </div>

    <ul style="z-index:10"
        class="article-nav nav flex-column sticky-top v2-accordion" v2-accordion>

      {% capture itemUrl %}/{{include.board}}{{my_page.url}}{% endcapture %}

      <li class="{% if navurl == itemUrl %}active{% endif %} nav-item">
        <a md-ink-ripple class="nav-link" href="{{site.baseurl}}/{{include.board}}{{ my_page.url }}">Index</a>
      </li>

      {% for subitem in my_page.subitems %}

      {% capture subitemUrl %}/{{include.board}}{{subitem.url}}{% endcapture %}

      <li class="{% if navurl == subitemUrl %}active{% endif %} 
                 {% if subitem.group %}v2-accordion-group article-group-header{% endif %}
                 nav-item">
        <a class="nav-link {% if subitem.group %}v2-accordion-heading{% endif %}"
           {% unless subitem.group %}
           href="{{site.baseurl}}/{{include.board}}{{ subitem.url }}"{% endunless %}
        >
          {% if subitem.group %}
          <!-- <md-icon ng-class="{ 'rotate-90': $group.isOpen }"
                  class="article-group-foldicon"
                  md-svg-src="{{site.baseurl}}/icons/ic_play_arrow_black_24px.svg"></md-icon> -->
          <div class="article-group-foldicon {% if navurl contains subitemUrl and subitem.group %}rotate-90{% endif %}">
            {% include icons/ic_play_arrow_black_24px.svg %}
          </div>
          {% endif %}
          {{ subitem.menu }}
          </a>

        {% if subitem.group %}  
          <div class="v2-accordion-collapse collapse {% if navurl contains subitemUrl and subitem.group %}show{% endif %}" data-parent=".v2-accordion">
            <ul class="nav flex-column">
              <li class="nav-item{% if navurl == subitemUrl %}active{% endif %}">
                <a class="nav-link" href="{{site.baseurl}}{{subitemUrl}}">Index</a>
              </li>

              {% for group in subitem.group %}
                {% capture groupUrl %}/{{include.board}}{{group.url}}{% endcapture %}

                <li class="nav-item {% if navurl == groupUrl %}active{% endif %}">
                  <a class="nav-link" href="{{site.baseurl}}{{groupUrl}}">{{group.menu}}</a>
                </li>
              {% endfor %}

            </ul>
          </div>
        {% endif %}
      </li>

      {% endfor %}

    </ul>
</collapse-bar>

{% endif %}
{% endif %}
{% endfor %}
