{% assign navurl = page.url | remove: 'index.html' %}

{% for my_page in include.nav %}
{% if navurl contains my_page.url %}
{% if my_page.subitems or my_page.groups %}

<collapse-bar id="article-col" class="article-col">

  <div style="margin-top: 38px;"></div>
    <h3 class="padding">{{ my_page.menu }}</h3>
    <p class="padding">{{ my_page.desc }}</p>

    <ul data-uk-sticky="{top:71,boundary: true,media: '(min-width: 640px)'  }" style="z-index:10"
        class="article-nav uk-nav" v2-accordian>

      {% capture itemUrl %}/{{include.board}}{{my_page.url}}{% endcapture %}

      <li class="{% if navurl == itemUrl %}uk-active{% endif %}">
        <a href="{{site.baseurl}}/{{include.board}}{{ my_page.url }}">Index</a>
      </li>

      {% for subitem in my_page.subitems %}

      {% capture subitemUrl %}/{{include.board}}{{subitem.url}}{% endcapture %}

      <li {% if subitem.group %}v2-accordian-group{% endif %}
          {% if navurl contains subitemUrl and subitem.group %}is-opened{% endif %}
          class="{% if navurl == subitemUrl %}uk-active{% endif %} {% if subitem.group %}article-group-header{% endif %}">
        <a {% if subitem.group %}v2-accordian-heading{% else %}
           href="{{site.baseurl}}/{{include.board}}{{ subitem.url }}"{% endif %}
        >
          {% if subitem.group %}<md-icon ng-class="{ 'rotate-90': v2Group.isOpen }"
                  md-svg-src="{{site.baseurl}}/icons/ic_play_arrow_black_24px.svg"></md-icon>{% endif %}
          {{ subitem.menu }}</a>

        {% if subitem.group %}
          <div uib-collapse="!v2Group.isOpen">
            <ul>
              <li class="{% if navurl == subitemUrl %}uk-active{% endif %}">
                <a href="{{site.baseurl}}{{subitemUrl}}">Index</a>
              </li>

              {% for group in subitem.group %}
                {% capture groupUrl %}/{{include.board}}{{group.url}}{% endcapture %}

                <li class="{% if navurl == groupUrl %}uk-active{% endif %}">
                  <a href="{{site.baseurl}}{{groupUrl}}">{{group.menu}}</a>
                </li>
              {% endfor %}

            </ul>
          </div>
        {% endif %}
      </li>

      {% endfor %}

    </ul>
</collapse-bar>

{% endif %}
{% endif %}
{% endfor %}