  <nav class="navbar navbar-dark bg-primary navbar-expand-lg" id="v2-navbar">

    <div class="container">
      <a class="navbar-brand v2-navbar-brand" href="/">
        <img style="height: 100%;" v2-tooltip="V²Homepage" src="{{site.baseurl}}/images/logo/logo.png" class="uk-margin uk-margin-remove">
      </a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#boardBarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        {% comment %}{% include icons/menu.svg %}{% endcomment %}
      </button> -->
      <div class="v2-navbar-nav" id="boardBarNav">
        <ul class="navbar-nav ml-auto v2-navbar-nav-md">
          <li class="nav-item {% if page.url == '/standards/' %}active{% endif %}">
            <a class="nav-link" href="#" title="All missing standards to find parts, build, upgrade, maintain and repair a modular Mini / All-In-One PC">
              <img class="img-icon" src="{{site.baseurl}}/images/icons/webicon-standards.png">
              Standards
            </a>
          </li>
          <li class="nav-item {% if page.url contains '/products/' %}active{% endif %}">
            <a class="nav-link" href="/products/"
              v2-tooltip="Real products available early on, showing what you can build with V² Standards. Buy today what is to become mainstream tomorrow">
              <img class="img-icon" src="{{site.baseurl}}/images/icons/webicon-product.png">
              Products
            </a>
          </li> 
          <li class="nav-item {% if page.url == '/makers/' %}active{% endif %}">
            <a class="nav-link" href="#" v2-tooltip="Everything you need to develop your new products faster at lower cost">
              <img class="img-icon" src="{{site.baseurl}}/images/icons/webicon-maker.png">
              Makers
            </a>
          </li>
          <li class="nav-item {% if page.url contains '/diy/' %}active{% endif %}">
            <a class="nav-link" href="/diy/" v2-tooltip="PC Know How & Tools">
              <img class="img-icon" src="{{site.baseurl}}/images/icons/webicon-diy.png">
              DIY
            </a>
          </li>
          <li class="nav-item {% if page.url == '/organization/' %}active{% endif %}">
            <a class="nav-link" href="#" v2-tooltip="Lower your cost and increase computer sales">
              <img class="img-icon" src="{{site.baseurl}}/images/icons/webicon-retail.png">
              Retail
            </a>
          </li>
          <li class="nav-item {% if page.url == '/spreading/' %}active{% endif %}">
            <a class="nav-link" href="#" v2-tooltip="How to tell the story of a smaller, quieter, more modular and upgradable PC and how to get it into the hands of the user">
              <img class="img-icon" src="{{site.baseurl}}/images/icons/webicon-spreading.png">
              Spreading
            </a>
          </li>
          <li class="nav-item {% if page.url == '/app/' %}active{% endif %}">
            <a class="nav-link" href="#" v2-tooltip="V² Open Source Web Apps simplify experiencing or building V² PCs">
              <img class="img-icon" src="{{site.baseurl}}/images/icons/webicon-apps.png">
              Apps
            </a>
          </li>
          <li class="nav-item {% if page.url contains '/plan/' %}active{% endif %}">
            <a class="nav-link" href="/plan/" v2-tooltip="Our Plan, shared in Open Source on GitHub. Check out road maps, milestones or how you can help">
              <img class="img-icon" src="{{site.baseurl}}/images/icons/webicon-plan.png">
              Plan
            </a>
          </li>
          <li class="nav-item {% if page.url == '/organization/' %}active{% endif %}">
            <a class="nav-link" href="#" v2-tooltip="About the people, process and legal stuff creating the V² Open Standards">
              <img class="img-icon" src="{{site.baseurl}}/images/icons/webicon-organization.png">
              Organization
            </a>
          </li>
        </ul>

        <!-- <div layout="row" class="v2-navbar-nav-xs">
          <h3 class="v2-navbar-toggle-header">Boards</h3>
          <a href="#moble-site-nav" class="uk-navbar-toggle v2-navbar-toggle" data-uk-offcanvas></a>
        </div> -->
      </div>
      <!--</nav>-->
    </div>
  </nav>