{% assign navurl = page.url | remove: 'index.html'%}
{% capture baseurl %}{{ site.baseurl }}/{% endcapture %}

<div data-uk-sticky class="uk-navbar uk-navbar-attached sub-navbar md-primary">
  <div class="uk-container uk-container-center">

    <div layout="row" hide-gt-sm layout-align="none center">
      <md-button href="#book-bar-nav" data-uk-offcanvas class="md-icon-button uk-navbar-toggle" aria-label="Toggle Navigation Bar" hide-gt-md>
        <md-icon md-svg-src="{{site.baseurl}}/icons/ic_menu_24px.svg"></md-icon>
      </md-button>

      <h3>Books & Articles</h3>
    </div>

    <ul class="uk-navbar-nav sub-navbar-nav" hide show-gt-sm>
      
      {% capture introUrl %}/{{include.board}}/{% endcapture %}
      
      <li md-ink-ripple class="{% if navurl == introUrl %}uk-active{% endif %}"><a href=" {{site.baseurl}}/{{include.board}}/" class="md-tab">Index</a></li>

      {% for my_page in include.nav %}
      <li md-ink-ripple class="{% if navurl contains my_page.url %}uk-active{% endif %}"><a href=" {{site.baseurl}}/{{include.board}}{{ my_page.url }}" class="md-tab">{{ my_page.menu }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

{% assign navurl = page.url | remove: 'index.html' %}
<div id="book-bar-nav" class="uk-offcanvas">
  <div class="uk-offcanvas-bar md-whiteframe-z2">
    
    <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="{multiple:true}">
      {% for my_page in include.nav %}
      
      <li class="{% if my_page.subitems %}uk-parent{% endif %} {% if navurl contains my_page.url %}uk-active{% endif %}">
        <a href="{% if my_page.subitems %}#{% else %}{{site.baseurl}}/{{include.board}}{{my_page.url}}{% endif %}">{{my_page.menu}}</a>
        {% if my_page.subitems %}
        
        <ul class="uk-nav-sub">
          
          {% capture introUrl %}/{{include.board}}{{my_page.url}}{% endcapture %}
          
          <li class="{% if navurl == introUrl %}uk-active{% endif %}"><a href="{{site.baseurl}}/{{include.board}}{{my_page.url}}">Intro</a></li>
        
          {% for subitem in my_page.subitems %}
          <li class="{% if subitem.group %}uk-parent{% endif %} {% if navurl contains subitem.url %}uk-active{% endif %}"><a href="{% if subitem.group %}#{% else %}{{site.baseurl}}/{{include.board}}{{subitem.url}}{% endif %}">{{subitem.menu}}</a></li>    
          
          {% if subitem.group %}
          {% capture GroupIntroUrl %}/{{include.board}}{{subitem.url}}{% endcapture %}
          
            <ul class="">
              <li class="{% if navurl == GroupIntroUrl %}uk-active{% endif %}"><a href="{{subitem.url}}">Intro</a></li>
          {% for group in subitem.group %}
            <li><a href="/{{include.board}}{{group.url}}">{{group.menu}}</a></li>
          {% endfor %}
              
              </ul>
          
          {% endif %}
          
          {% endfor %}
          
        </ul>
        
        {% endif %}
      </li>
      
      {% endfor %}
    </ul>
  </div>
</div>
