{% assign navurl = page.url | remove: 'index.html' %}

{% for board in site.data.board-bar %}
{% if page.url contains board.url %}
{% assign boardName = board.menu %}
{% assign boardUrl = board.url | remove: "/" %}
{% assign bookbar = site.data.[boardUrl].book-bar %}
{% endif %}
{% endfor %}

{% assign navurl = page.url | remove: 'index.html'%}

{% assign urlHierarchy = navurl | split: "/" %}

{% case urlHierarchy.size %}
  {% when 2 %}
    {% assign type = 'book' %}
  {% when 3 %}
    {% assign type = 'article' %}
  {% when 4 %}
    {% assign type = 'article-group' %}
{% endcase %}

{% if type == 'article-group' %}

<div class="row no-gutters content-navigation">

  {% for my_page in bookbar %}
  {% if my_page.subitems and navurl contains my_page.url %}
  {% for subitem in my_page.subitems %}
  {% if subitem.group and navurl contains subitem.url %}
  {% for group in subitem.group %}

  {% capture groupUrl %}/{{boardUrl}}{{group.url}}{% endcapture %}

  {% for page in site.pages %}

  {% if page.url == groupUrl %}

  <div class="col-md-4 col-sm-6 metro-card{% if page.color %} {{page.color}}-300{% endif %}">
    <a class="metro-card__href" href="{{site.baseurl}}{{groupUrl}}">
      <div class="row no-gutters progess-bar card-progress-bar md-whiteframe-3dp" style="z-index:99;">
        <div class="col {{page.readiness[0]}}"></div>
        <div class="col {{page.readiness[1]}}"></div>
        <div class="col {{page.readiness[2]}}"></div>
        <div class="col {{page.readiness[3]}}"></div>
      </div>
      {% if page.visualURL %}
      <div class="metro-card__image">
        <img src="{{page.visualURL}}-index.png" />
      </div>
      {% endif %}
      <div class="metro-card__content">
        <h1 class="metro-card__title">{{page.title}}</h1>
        {% if page.subtitle %}
        <p class="metro-card__desc">{{page.subtitle | markdownify | remove: "<p>" | remove: "</p>" }}</p>
        {% endif %}
      </div>
    </a>
  </div>

  {% endif %}
  {% endfor %}
  {% endfor %}
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endfor %}

</div>
{% endif %}

{% if type == "article" %}
<div class="row no-gutters content-navigation">

  {% for my_page in bookbar %}
  {% if my_page.subitems and navurl contains my_page.url %}
  {% for subitem in my_page.subitems %}
  {% capture subitemUrl %}/{{boardUrl}}{{subitem.url}}{% endcapture %}
  

  {% for sitePage in site.pages %}

  {% if sitePage.url == subitemUrl %}

  <div class="col-md-4 col-sm-6 metro-card{% if sitePage.color %} {{sitePage.color}}-300{% endif %}">
    <a class="metro-card__href" href="{{site.baseurl}}{{subitemUrl}}">
      <div class="row no-gutters progess-bar card-progress-bar md-whiteframe-3dp" style="z-index:99;">
        <div class="col {{sitePage.readiness[0]}}"></div>
        <div class="col {{sitePage.readiness[1]}}"></div>
        <div class="col {{sitePage.readiness[2]}}"></div>
        <div class="col {{sitePage.readiness[3]}}"></div>
      </div>
      {% if sitePage.visualURL %}
      <div class="metro-card__image">
        <img src="{{sitePage.visualURL}}-index.png" />
      </div>
      {% endif %}
      <div class="metro-card__content">
        <h1 class="metro-card__title">{{sitePage.title}}</h1>
        {% if sitePage.subtitle %}
        <p class="metro-card__desc">{{sitePage.subtitle | markdownify | remove: "<p>" | remove: "</p>" }}</p>
        {% endif %}
      </div>
    </a>
  </div>

  {% endif %}
  {% endfor %}
  {% endfor %}
  {% endif %}
  {% endfor %}

</div>
{% endif %}

{% if type == "book" %}
<div class="row no-gutters content-navigation">

  {% for my_page in bookbar %}
  {% capture bookUrl %}/{{boardUrl}}{{my_page.url}}{% endcapture %}

  {% for sitePage in site.pages %}

  {% if sitePage.url == bookUrl %}

  <div class="col-md-4 col-sm-6 metro-card{% if sitePage.color %} {{sitePage.color}}-300{% endif %}">
    <a class="metro-card__href" href="{{site.baseurl}}{{bookUrl}}">
      <div class="row no-gutters progess-bar card-progress-bar md-whiteframe-3dp" style="z-index:99;">
        <div class="col {{sitePage.readiness[0]}}"></div>
        <div class="col {{sitePage.readiness[1]}}"></div>
        <div class="col {{sitePage.readiness[2]}}"></div>
        <div class="col {{sitePage.readiness[3]}}"></div>
      </div>
    {% if sitePage.visualURL %}
    <div class="metro-card__image">
      <img src="{{sitePage.visualURL}}-index.png" />
    </div>
    {% endif %}
    <div class="metro-card__content">
      <h1 class="metro-card__title">{{sitePage.title}} {{urlHierarchy[2]}}</h1>
      {% if sitePage.subtitle %}
      <p class="metro-card__desc">{{sitePage.subtitle | markdownify | remove: "<p>" | remove: "</p>" }}</p>
      {% endif %}
    </div>
    </a>
  </div>

  {% endif %}
  {% endfor %}
  {% endfor %}
</div>
{% endif %}