{% if page.contents %}
<collapse-bar type="Mid" id="article-toc">

  <div style="margin-top: 38px;"></div>
  
  <h2 class="padding">Contents</h2>

  <div data-uk-sticky="{top:71,boundary: true,media: '(min-width: 640px)'}">

    <ul class="uk-nav uk-nav-toc">
      {% for content in page.contents %}
      <li><a href="#{{content.url}}" du-smooth-scroll>{{ content.name }}</a>
      
      {% if content.subitems %}
      
      <ul>
        {% for subitem in content.subitems %}
        <li><a href="#{{subitem.url}}" du-smooth-scroll>{{subitem.name}}</a></li>
        {% endfor %}
      </ul>
      
      {% endif %}
      
      </li>
      
      {% endfor %}
      </ul>
  </div>
</collapse-bar>
{% endif %}