<div id="article-toc" hide-md hide-sm hide-xs>

  <div style="margin-top: 38px;"></div>

  <div data-uk-sticky="{top:71,boundary: true,media: '(min-width: 640px)'}">

    <h3 class="padding">Article</h3>

    <md-menu-content>

      <md-menu-item>
        <md-button id="side-edit" aria-label="Edit Article" href="https://github.com/V-Squared/{{site.repoUrl}}/edit/gh-pages/{{page.path}}" target="_blank"><md-icon md-svg-src="{{site.baseurl}}/icons/ic_mode_edit_white_24px.svg"></md-icon> Edit Article</md-button>
      </md-menu-item>

      <md-menu-item>
        <md-button aria-label="Article Issue" href="https://github.com/V-Squared/v-squared.github.io/issues/{{page.issueNo}}" target="_blank">
          <md-icon md-svg-src="{{site.baseurl}}/icons/Github/issue.svg"></md-icon> Article Issue</md-button>
      </md-menu-item>

    </md-menu-content>

    <h3 class="padding" style="margin-bottom:10px;">Repository</h3>
    <h4 class="padding">{{site.repo}}</h4>

    <md-menu-content>

      <div class="progess-bar" ng-if="repository.progress">
        <ol class="progress progress--small">
          <li data-step="1" v2-tooltip="Creating the Concept and Specs while getting Community's feedback. Cast your Vote or propose a Feature." ng-class="repository.progress[0]">
            Create
          </li>
          <li data-step="2" v2-tooltip="Making it happen. If we already moved it to GitHub you can join by Opening Issues with Enhancement Requests or by assiging yourself to Issues in search for an owner or simply Fork, Improve and make a Pull Request." ng-class="repository.progress[1]">
            Develop
          </li>
          <li data-step="3" v2-tooltip="Beta Testing. Fine tuning Functionality with Pre-Production Units. Get involved and provide enhancement requests. " ng-class="repository.progress[2]">
            Beta
          </li>
          <li data-step="4" v2-tooltip="Enjoy! It is ready to use. Let us know your praise or file a bug report in GitHub Issues." ng-class="repository.progress[3]" class="progress__last">
            Make
          </li>
        </ol>
      </div>

      <md-menu-item>
        <md-button aria-label="{{site.repo}} Graphs" href="https://github.com/V-Squared/{{site.repoUrl}}/graphs" target="_blank">
          <md-icon md-svg-src="{{site.baseurl}}/icons/Github/graph.svg"></md-icon> Graphs</md-button>
      </md-menu-item>

      <md-menu-item>
        <md-button aria-label="{{site.repo}} Pulse" href="https://github.com/V-Squared/{{site.repoUrl}}/pulse" target="_blank">
          <md-icon md-svg-src="{{site.baseurl}}/icons/Github/pulse.svg"></md-icon> Pulse</md-button>
      </md-menu-item>

      <md-menu-item>
        <md-button aria-label="{{site.repo}} Issues" href="https://github.com/V-Squared/{{site.repoUrl}}/issues" target="_blank">
          <md-icon md-svg-src="{{site.baseurl}}/icons/Github/issue.svg"></md-icon> Issues</md-button>
      </md-menu-item>

      <md-menu-item>
        <md-button aria-label="{{site.repo}}" href="https://github.com/V-Squared/{{site.repoUrl}}" target="_blank">
          <md-icon md-svg-src="{{site.baseurl}}/icons/Github/code.svg"></md-icon> Code</md-button>
      </md-menu-item>

    </md-menu-content>
  </div>
</div>
