<!-- Angular Core Components -->

<script type="application/javascript" src="{{site.baseurl}}/_javascript/vendor/jquery.min.js"></script>
<script type="application/javascript" src="{{site.baseurl}}/_javascript/vendor/uikit.min.js"></script>
<script type="application/javascript" src="{{site.baseurl}}/_javascript/vendor/sticky.min.js"></script>
<script type="application/javascript" src="{{site.baseurl}}/lib/app.js"></script>


<!--
&lt;!&ndash; UIKIT &ndash;&gt;
<script type="text/javascript" src="{{site.baseurl}}/_javascript/dependencies/uikit.min.js"></script>

&lt;!&ndash; UIKIT Components &ndash;&gt;
<script type="text/javascript" src="{{site.baseurl}}/_javascript/dependencies/sticky.min.js"></script>

<script type="text/javascript" src="{{site.baseurl}}/_javascript/dependencies/ngStorage.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/dependencies/angular-clipboard.js"></script>

<script type="text/javascript" src="{{site.baseurl}}/_javascript/dependencies/TweenMax.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/dependencies/angular-scroll.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/dependencies/ui-bootstrap-tab.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/dependencies/ui-bootstrap-collapse.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/controller/mainController.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/directive/collapseBar.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/directive/customAccordian.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/directive/loadRepository.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/directive/v2Tooltip.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/directive/v2Slideshow.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/directive/v2Switcher.js"></script>-->
