<footer class="site-footer">

  <h2 class="footer-heading">{{ site.title }}</h2>

  <div class="row">
    <!--<div class="footer-col footer-col-1">
      <ul class="contact-list">
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>-->
    
    <div class="col-sm-8">
      <p>{{ site.description }}</p>
    </div>

    <div class="col-sm-4">
      <ul class="social-media-list d-flex">
        {% if site.github_username %}
        <li>
          <a class="btn btn-primary bmd-btn-icon" href="https://github.com/{{ site.github_username }}">
            {% include icons/icon-github.svg %}
            {{ site.github_username }}
          </a>
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          <a class="btn btn-primary bmd-btn-icon" href="https://twitter.com/{{ site.twitter_username }}">
            {% include icons/icon-twitter.svg %}
            {{ site.twitter_username }}
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  
  <div class="row footer-column">
    {% for repositorySection in site.data.repository %}
    <div class="col-md">
      <h6>{{repositorySection.name}}</h6>
      <ul class="footer-list">
        {% for repository in repositorySection.items %}
        <li>{% if repository.webLink %}<a><span style="color:#2a7ae2">{{repository.name}}</span></a>
          {% else %}<span>{{repository.name}}</span></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  
</footer>

{% include dependencies.html %}