<footer class="site-footer">

  <h2 class="footer-heading">{{ site.title }}</h2>

  <div class="uk-grid">
    <!--<div class="footer-col footer-col-1">
      <ul class="contact-list">
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>-->
    
    <div class="uk-width-small-2-3">
      <p>{{ site.description }}</p>
    </div>

    <div class="uk-width-small-1-3">
      <ul class="social-media-list">
        {% if site.github_username %}
        <li>
          <a class="btn btn-primary bmd-btn-icon" href="https://github.com/{{ site.github_username }}">
            {% include icons/icon-github.svg %}
            {{ site.github_username }}
          </a>
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          <a class="btn btn-primary bmd-btn-icon" href="https://twitter.com/{{ site.twitter_username }}">
            {% include icons/icon-twitter.svg %}
            {{ site.twitter_username }}
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  
  <!-- <div class="uk-grid footer-column" load-repository="{{site.baseurl}}/repository.json">
    <div ng-repeat="repositorySection in json.repositories">
      <h6>[[repositorySection.name]]</h6>
      <ul class="footer-list">
        <li ng-repeat="repository in repositorySection.items"><a ng-if="repository.webLink"><span style="color:#2a7ae2">[[repository.name]]</span></a><span ng-if="!repository.webLink">[[repository.name]]</span></li>
      </ul>
    </div>
  </div> -->
  
</footer>

{% include dependencies.html %}