<footer class="site-footer">

  <h2 class="footer-heading">{{ site.title }}</h2>

  <div class="uk-grid">
    <!--<div class="footer-col footer-col-1">
      <ul class="contact-list">
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>-->
    
    <div class="uk-width-small-2-3">
      <p>{{ site.description }}</p>
    </div>

    <div class="uk-width-small-1-3">
      <ul class="social-media-list">
        {% if site.github_username %}
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  
  <div class="uk-grid footer-column" load-repository="{{site.baseurl}}/repository.json">
    <div ng-repeat="repositorySection in json.repositories">
      <h6>[[repositorySection.name]]</h6>
      <ul class="footer-list">
        <li ng-repeat="repository in repositorySection.items"><a ng-if="repository.webLink"><span style="color:#2a7ae2">[[repository.name]]</span></a><span ng-if="!repository.webLink">[[repository.name]]</span></li>
      </ul>
    </div>
  </div>
  
</footer>

<script type="text/javascript" src="{{site.baseurl}}/_javascript/dependencies/angular-sanitize.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/dependencies/angular-animate.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/dependencies/angular-aria.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/dependencies/ngStorage.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/dependencies/angular-clipboard.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/dependencies/uikit.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/dependencies/sticky.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/dependencies/slideshow.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/dependencies/angular-material.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/dependencies/angular-scroll.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/dependencies/ui-bootstrap-tab.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/dependencies/ui-bootstrap-carousel.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/dependencies/ui-bootstrap-collapse.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/controller/mainController.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/directive/collapseBar.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/directive/customAccordian.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/directive/loadRepository.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/_javascript/directive/v2Tooltip.js"></script>