<header class="site-header">

  <div class="uk-container uk-container-center">
    
    <nav class="nav uk-flex-middle">
    
      <div class="nav-header">
        <div class="nav-logo">
          <img src="https://avatars1.githubusercontent.com/u/7278625?v=3&s=200" class="uk-margin uk-margin-remove">
        </div>
    
        <h3 class="nav-title uk-text-middle">{{ site.title }}</h3>
      </div>
      
      <div class="nav-github"><a href="https://www.github.com/V-Squared">github.com/V-Squared</a></div>
    
    </nav>

  </div>

</header>