/**
* Reset some basic elements
*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

em {
  color:#FF9100;
}



/**
* Basic styling
*/
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}
.uk-container {
  max-width: 1400px;
  padding: 0 30px;
}

@media (max-width: 960px) {
  .uk-container {
    padding: 0 25px;
  }
}


/**
* Set `margin-bottom` to maintain vertical rhythm
*/
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
* Images
*/
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
* Figuresd
*/
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
* Lists
*/
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
* Headings
*/
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}



/**
* Links
*/
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}



/**
* Blockquotes
*/
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
* Code formatting
*/
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #F5F5F5;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.v2-frame {
  background: #F5F5F5;
  border-radius: 3px;
  border: 1px solid #D4D4D4;
  padding: 8px 12px;
}

p {
  line-height: 1.7em;
}

/**
* Wrapper
*/
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
margin-right: auto;
margin-left: auto;
padding-right: $spacing-unit;
padding-left: $spacing-unit;
@extend %clearfix;

@include media-query($on-laptop) {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
max-width:         calc(#{$content-width} - (#{$spacing-unit}));
padding-right: $spacing-unit / 2;
padding-left: $spacing-unit / 2;
}
}



/**
* Clearfix
*/
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



/**
* Icons
*/
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}



/**
* Table
*/

table {

  thead th {
    text-align: center;
  }
  tr td {
    text-align: center;
  }

  tfoot td {
    text-align: left !important;
    color:#42A5F5;
    font-style: normal;
    font-size:13px;
  }

  /**
  * Colors
  */

  // Gray

  .ly {
    background: #FAFAFA !important;
  }

  .gy {
    background: #F5F5F5 !important;
  }

  .dy {
    background: #E0E0E0 !important;
  }

  // Yellow

  .lw {
    background: #FFFDE7 !important;
  }

  .yw {
    background: #FFF9C4 !important;
  }

  .dw {
    background: #FFF59D !important;
  }

  // Green

  .ln {
    background: #F1F8E9 !important;
  }

  .gn {
    background: #DCEDC8 !important;
  }

  .dn {
    background: #C5E1A5 !important;
  }

  // Red

  .ld {
    background: #ffebee !important;
  }

  .rd {
    background: #ffcdd2 !important;
  }

  .dd {
    background: #ef9a9a !important;
  }

  // Others

  .or {
    background: #FFE082 !important;
  }

  .bl {
    background: #BBDEFB !important;
  }

  .pp {
    background: #CE93D8 !important;
  }

  .bk {
    background: #BDBDBD !important;
  }

  .wt {
    background: #FFF !important;
  }
}

table.twin-head {
  thead th:first-child {
    width:20%;
    text-align: right;
  }
  tr td:first-child {
    text-align: right;
  }
}

table.twin-head-desc {
  thead th:first-child {
    width:20%;
    text-align: right;
  }
  tr td:first-child {
    text-align: right;
  }
  tr td:last-child {
    text-align: left;
  }
}

table.row-blue {
  tbody {
    tr { 
      border-bottom: 2px solid #2196F3;  
      &:last-child {
        border-bottom: 0;  
      }

      td:first-child {
        background: #BBDEFB;
      }
      td {
        background: #E3F2FD;
      }
    }
  }
}

table.col-blue {
  thead > tr {
    background: #64B5F6;
    color:#FFF;
  }
  tbody tr {
    border-bottom: 2px solid #2196F3;  
    &:last-child {
      border-bottom: 0;  
    }
    td {
      background: #E3F2FD;
    }
  }
}

table.no-blue {
  tbody tr {
    border-bottom: 2px solid #2196F3;  
    &:last-child {
      border-bottom: 0;  
    }
    td {
      background: #E3F2FD;
    }
  }
}

table.twin-blue {
  thead > tr {
    background: #64B5F6;
    color:#FFF;
  }

  tbody {
    tr { 
      border-bottom: 2px solid #2196F3;  
      &:last-child {
        border-bottom: 0;  
      }

      td:first-child {
        background: #BBDEFB;
      }
      td {
        background: #E3F2FD;
      }
    }
  }
}

.table-caption {
  margin:0;
  padding:0;
  background:#64B5F6;
  color:#FFF;
  padding-left: 10px;
  padding-bottom: 10px;
}
.table-head {
  padding-top: 10px;
}
.table-desc {
  color:#0D47A1;
  line-height: 1em;
}



[layout=column][layout-gap] > *:not(:last-child) {
  margin-bottom: 20px;
}

[layout=row][layout-gap] > *:not(:last-child) {
  margin-right: 20px;
}
[layout=row][layout-feature] > *:not(:last-child) {
  margin-right: 80px;
}

md-toolbar[md-transparent] {
  background: transparent;
}

.md-button:visited {
  color:inherit;
}

md-menu-divider {
  margin-top: 4px;
  margin-bottom: 4px;
  height: 1px;
  min-height: 1px;
  max-height: 1px;
  width: 100%;
}

#side-edit {
  svg {
    fill:#747474;
  }
}

md-sidenav {
  z-index:1000;
}

md-backdrop.md-sidenav-backdrop {
  z-index:999;
}

md-backdrop {
  z-index:99999 !important;
}

.md-open-menu-container {
  z-index:999999 !important;
}

#edit-menu path:first-child {
  fill:#757575;
}

#board-menu svg {
  transform: rotate(90deg);
}

md-menu-content {
  display:none;
}
.md-open-menu-container md-menu-content {
  display:inherit;
}

.uk-table {
  margin-top:0;
}

.uk-table td, .uk-table th {
  padding: 8px 8px;
}

.table-header-row-column thead {
  background:#2196F3;
  color:#FFF;

  th {
    border:none;
  }
}
.table-header-row-column tr td:first-child {
  background: #B3E5FC;
  border:none;
}
.collapse-group {
  position: absolute;
  z-index:9999;
  width:100%;
}
.flipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
#article-license {
  circle {
    fill:transparent;
  }
}
#edit-article-status {
  path:last-child {
    fill:transparent !important;
  }
}
.rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/********/
// Material design colors
/*********/

.red {background-color: #F44336 !important;}
.pink {background-color: #E91E63 !important;}
.purple {background-color: #9C27B0 !important;}
.deep-purple {background-color: #673AB7 !important;}
.indigo {background-color: #3F51B5 !important;}
.blue {background-color: #2196F3 !important;}
.light-blue {background-color: #03A9F4 !important;}
.cyan {background-color: #00BCD4 !important;}
.teal {background-color: #009688 !important;}
.green {background-color: #4CAF50 !important;  }
.light-green {background-color: #8BC34A !important;}
.lime {background-color: #CDDC39 !important;}
.yellow {background-color: #FFEB3B !important;}
.amber {background-color: #FFC107 !important;}
.orange {background-color: #FF9800 !important;}
.deep-orange {background-color:#FF5722 !important;}
.brown {background-color: #795548 !important;}
.grey {background-color: #9E9E9E !important;}
.blue-grey {background-color: #607D8B !important;}

/*********/
// 300's
/*********/

.red-300 {background-color: #e57373 !important;}
.pink-300 {background-color: #F06292 !important;}
.purple-300 {background-color: #BA68C8 !important;}
.deep-purple-300 {background-color: #9575CD !important;}
.indigo-300 {background-color: #7986CB !important;}
.blue-300 {background-color: #64B5F6 !important;}
.light-blue-300 {background-color: #4FC3F7 !important;}
.cyan-300 {background-color: #4DD0E1 !important;}
.teal-300 {background-color: #4DB6AC !important;}
.green-300 {background-color: #81C784 !important;}
.light-green-300 {background-color: #AED581 !important;}
.lime-300 {background-color: #DCE775 !important;}
.yellow-300 {background-color: #FFF176 !important;}
.amber-300 {background-color: #FFD54F !important;}
.orange-300 {background-color: #FFB74D !important;}
.deep-orange-300 {background-color: #FF8A65 !important;}
.brown-300 {background-color: #A1887F !important;}
.grey-300 {background-color: #E0E0E0 !important;}
.blue-grey-300 {background-color: #90A4AE !important;}