.v2-navbar {
  min-height: 45pt;
  z-index: 9999;
  background:#1976D2;
}
.v2-navbar-nav > li {

  border-bottom: 6px solid transparent;
  margin-left: 15px;
  transition: all .3s ease;

  &:first-child {
    margin-left:0;
  }

  &:hover {
    border-color: white;

    a {
      background-color:transparent;
      color:#FFF;
    }
  }

  a {
    height:auto;
    padding: 0 10px;
    line-height:60px;
    cursor:pointer !important;
    color:white;
    -webkit-transition: all .3s ease; 
    transition: all .3s ease;

    &:focus {
      border-color: white;
      background-color: transparent;
      color:white;
    }
  }
}
@media (max-width:875px) {
  .v2-navbar-nav > li {
    margin-left: 2px;
  }
}
.v2-navbar li.uk-active {
  border-color: white;

  a {
    background-color: transparent;
    color:#FFF;
  }
}
.v2-navbar-brand {
  padding-left:0;
}
.table-of-content {
  background:#039be5;
  z-index:9999 !important;
}
@media (max-width: 705px) {
  .table-of-content {
    position:static !important;
    display: none;
  }
}
.portlotifo-nav {
  ul {
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin-left:0;
    margin-bottom: 0;
    li {
      list-style:none;

      a, a:focus,a:active {
        color:#FFF;
        padding: 9.75pt 7.5pt;
        line-height: inherit;
        height:auto;
        background-color:transparent;

        &:hover {
          background-color:#037CB7;
          color:#FFF;
        }
      }

      &.active {
        a {
          background-color:#037CB7;
        }
      }
    }
  }
}
.sub-navbar {
  background:#2196F3;
  height:51px;

  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.28);
  position: relative;

  z-index:100;

  &.uk-active {
    margin-left: 0;
  }

  h3 {
    color:#FFF;
    margin:0;
  }

  .uk-navbar-toggle:after {
    content:"";
  }

  > div > div {
    height: 51px;
    margin-left:-17px;
  }

  md-icon svg {
    fill: #FFF;
  }

  ul {
    margin-left: -15px;
  }


  li  {
    position:relative;

    a {

      color:rgba(255,255,255,.7);
      line-height: 51px;
      height:inherit;
      text-transform: none;

    }

    &:hover > a {
      background: #2196F3;
      color:#FFF;
    }

    &:after {
      height: 4px;
      width: 100%;
      display: block;
      content: " ";
      bottom: 0;
      left: 0;
      position: absolute;
      transition: all .3s ease;
      background: transparent;
    }

    &.uk-active:after, &:hover:after {
      background: #FFAB40;
    }

    &.uk-active a{
      background: #2196F3;
      color:#FFF;
    }
  }
}

.sub-breadcrumb {
  margin:0;

  padding-bottom: 15px;

  li {

    &:nth-child(n+2):before {
      font-family: FontAwesome;
      content: "\f105";
      color:#444;
    }

    a {
      font-size:13px;
      color:#888;

      &:hover {
        background:transparent;
        color:#000;
        text-decoration: underline;
      }   
    }
  }
}

.article-col {
  //border-right: 1px solid #BBB;
  width: 230px;

  .padding {
    padding: 0 16px;
  }

  h2 {
    margin-bottom: -10px;
    color:inherit;
  }
  p {
    color: #999;
    font-size:12px;
  }
}

.article-nav {

  // consider the sticky navbar and margin-top
  max-height: calc(100vh - 89px);
  max-height: -webkit-calc(100vh - 89px);
  max-height: -moz-calc(100vh - 89px);
  overflow-y:auto;

  ul {
    li a {
      font-size: 13px;
    }
  }

  li {
    position: relative;

    a {
      padding: 3px 15px;
      color:#212121;
      font-size: 15px;
      color:#666;
    }

    &:hover,&.uk-active {
      a {
        background: #eee;
        color:black;
      }
    }
  }
}

#article-toc {
  width:150px;

  * {
    font-family: Roboto-Thin;
    color:#777;
  }

  .padding {
    padding: 0 16px;
  }

  h3,h4 {
    margin:0;
  }

  h4 {
    font-size:15px;
  }

  ul {
    li > a {
      font-size:12px;
      color:#666;
    }
  }
}

.uk-nav-offcanvas li  ul li.uk-active a {
  color:#FFF;
}
.navbar-toggle-header {
  line-height:60px;
  color:#FFF;
  margin:0;

  @media (min-width:768px) {
    display: none;
  }
}
.uk-nav-toc li a {
  border-left: 2px solid #2196F3;
  font-size: 13px;
  color: #666;
  padding: 3px 15px;

  &:hover {
    background: transparent;
    font-weight: bold;
  }
}
