.v2-navbar {
    min-height: 45pt;
    z-index: 9999;
    background:#FFF;
}
.v2-navbar-nav > li > a {
    height:auto;
    padding: 19.5px 15px;
    line-height:inherit;
    cursor:pointer !important;
}
@media (max-width:888px) {
  .v2-navbar-nav > li > a {
    padding: 19.5px 8px;
  }
}
.v2-navbar .uk-active {
    background-color:#ddd;
}
.v2-navbar-brand {
    padding-left:0;
}
.table-of-content {
  background:#039be5;
  z-index:9999 !important;
}
@media (max-width: 705px) {
  .table-of-content {
    position:static !important;
  }
}
.portlotifo-nav {
  ul {
    display: -webkit-box;
    display: -moz-box; 
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin-left:0;
    margin-bottom: 0;
    li {
      list-style:none;

      a, a:focus,a:active {
        color:#FFF;
        padding: 9.75pt 7.5pt;
        line-height: inherit;
        height:auto;
        background-color:transparent;

        &:hover {
          background-color:#037CB7;
          color:#FFF;
        }
      }

      &.active {
        a {
          background-color:#037CB7;
        }
      }
    }
  }
}
.uk-sticky-placeholder {
  height: 51px !important;
}