.intro {
    .tagline {
        text-align:center;
        font-weight:500;
        color:#888;
    }
    border-bottom: 1pt solid #EFF0F1;
    padding-bottom:15pt;
    padding-top:30pt;
}

@media (min-width:855pt) {
    .intro {
        .tagline {
            font-size: 23pt;
            text-align:center;
        }
    }
}

.portlotifo-nav {
    ul {
        display: -webkit-box;
        display: -moz-box; 
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align:center;
        margin-left:0;
        margin-bottom: 0;
        li {
            list-style:none;
            padding-right:15pt;
        }
        li:last-child {
            padding-right:0;
        }
    }
}

.portfolio-section {
    
    em {
        color:#111 !important;
    }
    
    .uk-grid > div {
        h3 {
            margin-bottom:0;
        }
        
        .progess-bar {
            margin-top: 20pt;
        }
        
        padding-top:20pt;
        padding-bottom:20pt;
    }
    
    padding-top:60pt;
}

// Ribbon

.ribbon-wrapper {
  width: 85px;
  height: 85px;
  overflow: hidden;
  position: absolute;
  top: -0px;
  right: -0px;
}

.ribbon {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #039be5;
  color: #FFF;
}

.ribbon:before {
  left: 0;
}

.ribbon:after {
  right: 0;
}

.table-of-content {
  padding: 30px 0;
  border-bottom: 1px solid #E5E5E5;
}
.compliances {
  padding:5px 0;
  background-color: #EEEEEE;
}
.compliances-row {
  padding-bottom: 5px;
  h3 {
    color:#666;
    cursor:pointer;
    text-align:center;
  }

  #github-compliances h3:hover {
    color:#6CC644;
  }
  #open-source-compliances h3:hover {
    color:#3DA639;
  }
  #open-hardware-compliances h3:hover {
    color:#0099B0;
  }
  #mit-compliances h3:hover {
    color:#A50020;
  }
  #cc-compliances h3:hover {
    color:#000;
  }
  #arduino-compliances h3:hover {
    color:#00929F;
  }
}