.intro {
  .tagline {
    text-align:center;
    font-weight:500;
    color:#888;
  }
  border-bottom: 1pt solid #EFF0F1;
  padding-bottom:15pt;
  padding-top:30pt;
}

@media (min-width:855pt) {
  .intro {
    .tagline {
      font-size: 23pt;
      text-align:center;
    }
  }
}

.tab-content {
  margin:0;
  position: relative;
}
.tab-content>.uk-active {
  display: block !important;
}
.tab-content>.tab-pane {
  display: none;
}
.uib-tab {
  flex: 1 0 0px;
  -webkit-flex: 1 0 0px;
}
.tab-content {
  padding:30pt 0;
}

.tab-content {

  em {
    color:#111 !important;
  }

  .uk-grid > div {
    h2 {
      margin-bottom: 0;
      position: absolute;
      top: 0;
      background: #000;
      opacity: 0.6;
      color: #FFF;
      width: 100%;
      line-height: 53px;
      text-align: center;
      font-size: 20px;
    }

    a {
      color: #FFF;
      font-weight: 700;
      font-size: 16px;
    }

    .progess-bar {
      margin:0;

      div {
        opacity: 1;
        z-index:99999;
      }
    }

    figure {
      border-radius: 20pt;
      position:relative;
    }

    padding-top:20pt;
    padding-bottom:20pt;
  }

  padding-bottom: 20pt;
}

@media (max-width:480px) {
  .tab-content h1 {
    font-size:24px;
  }
}

// Ribbon

.ribbon-wrapper {
  width: 86px;
  height: 53px;
  overflow: hidden;
  position: absolute;
  top: -0px;
  right: -0px;
}

.ribbon {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 2px 0;
  left: -5px;
  top: 11px;
  width: 146px;
  background-color: #039be5;
  color: #FFF;
}

.ribbon:before {
  left: 0;
}

.ribbon:after {
  right: 0;
}
.compliances {
  padding:20px 0 !important;
  background-color: #2196F3 !important;

  * {
    color:#FFF;
  }

  h1 {
    font-size:18px;
  }
}
.compliances-row {
  padding-bottom: 5px;
  h3 {
    color:#FFF;
    cursor:pointer;
    text-align:center;
  }

  #github-compliances h3:hover {
    color:#6CC644;
  }
  #open-source-compliances h3:hover {
    color:#3DA639;
  }
  #open-hardware-compliances h3:hover {
    color:#0099B0;
  }
  #cc-compliances h3:hover {
    color:#000;
  }
  #arduino-compliances h3:hover {
    color:#00929F;
  }
}

#tab1 {
  height: 100vh;
}

[uib-tab-next] {
  padding:0;
  min-width: 22px;
  margin:0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: #f5f5f5;
  
  > div {
    font-size:32px;
    font-weight: bold;
    color:#bbb;
  }
}

[uib-tab-previous] {
  padding:0;
  margin:0;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 25px;
  height: 100%;
  background: #f5f5f5;
  > div {
    color:#bbb;
    font-size:32px;
    font-weight: bold;
  }
}
