#home-introduction {
  background-color: $brand-color;
  background-size: cover;
  padding: 60px 0;
  color:#FFF;
  h1,h2 {
    color:#FFF;
  }

  @include media-breakpoint-up(md) {
    background:url("https://raw.githubusercontent.com/V-Squared/v2-Art/master/ViCase-Campaign/v2-Team/_IGP7092.jpg") no-repeat center center;
    padding: 200px 0;
  }
}
#section-seperator {
  border-bottom:1px solid #037CB7;
}
.svg > svg {
  width:auto;
  max-height:80vh;
}
.jumbotron {

  .jumbo-tagline {
    color: #888;
  }

  .article-desc {
    font-size: 21px;
    color:#aaa;
  }

  .jumbotron-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 15px;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }



    .title-logo {
      padding-right:15px;
      width: 100px;
      margin: 0 auto;

      @include media-breakpoint-up(md) {
        margin: 0;
      }
    }

    .title-text > * {
      text-align: center;
      margin:0;
      @include media-breakpoint-up(md) {
        text-align: left;
      }
    }

    .title-text > h1 {
      font-size: 2.7em;
      @include media-breakpoint-up(md) {
        font-szie: 3rem;
      }
    }

    .title-text > h2 {
      font-size: 1.5em;
      color: rgba(255,255,255,0.6) !important;
      @include media-breakpoint-up(md) {
        font-szie: 2rem;
        color: #FFF !important;
      }
    }

    .title-text {
      text-shadow: 0 0 7px $brand-700;
    }
  }

  .jumbo-text {
    text-shadow: 0 0 5px #000;
  }
}