#back-top {
	position: fixed;
	right:35px;
	bottom: 35px;
	opacity: 0.6;
	transition: opacity 0.2s ease;

	&:hover {
		opacity: 1;
	}

	@include media-query($on-tablet) {
		right: 15px;
		bottom: 15px;
	}
}