.sub-breadcrumb {
  margin:0;
  padding-top:20px;
  padding-left: 0;
  background: transparent;

  > .breadcrumb-item {
    font-size: .8em;

    > a {
      font-size: 1em;
      // Use !important hack because I have a :visited
      // event on every <a> and apperantly you can't use
      // RGBA in :visited
      color: rgba(255,255,255,0.5) !important;
      transition: all 0.3s ease;
      font-family: Roboto-Regular, Roboto, sans-serif;
      font-weight: normal;

      &:hover {
        background:transparent;
        color: rgba(255,255,255,1) !important;
      }

    }
  }
}