.callout-container {
  display: block;
  position: relative;
  max-width: $on-laptop;

  > img {
    margin-bottom: 0;
  }
}
.callout {
  position: absolute;
  border: 2px solid $gray-600;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover,&.active {
    transform: scale(1.5,1.5);
    border-color: $brand-accent;
  }
}
.callout-text  {
  padding-top: ($spacing-unit / 2) / 2;
}