.callout-container {
  display: block;
  position: relative;
}
.callout {
  position: absolute;
  background-color: $brand-accent;
  opacity: 0.6;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover,&.active {
    opacity: 1;
    transform: scale(1.7,1.7);
  }
}
.callout-text  {
  padding-top: ($spacing-unit / 2) / 2;
}