.card-tab-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  margin-right: 10px !important;
}

.card-tabs {
	margin-left: $spacing-unit;
  > .card-tab {
  	padding: 13px 0;
		> h3 {
			font-size: 16px !important;
			color: $brand-secondary;
			margin: 0;
			padding: 0;
			cursor: pointer;
			position: relative;

			&:hover::before, &.active::before {
				content: url(/icons/ic_arrow_forward_black_24px.svg);
				position: absolute;
				left: -$spacing-unit;
				width: 24px;
				height: 24px;
				display: inline-block;
				fill: $brand-secondary;
			}
		}

		> p {
			font-size: 14px;
			margin-bottom: 0;
			color: rgba(255,255,255,0.875);
		}

		> md-card {
			max-width: 500px;
			position: absolute;
			right: calc(50% + 5px);
			top: 0;
  	}

  }
}