.feature-section {
  padding: ($spacing-unit * 3) 0;
  background: #FFF;

  &:not(.article-feature) {
    @include remove-typo-margin;
  }

  &.article-feature {
    /* margin-left: -$spacing-unit;
    margin-right: -$spacing-unit;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;

    @include media-query($on-mobile) {
      margin-left: -($spacing-unit / 2);
      margin-right: -($spacing-unit / 2);
      padding-left: $spacing-unit / 2;
      padding-right: $spacing-unit / 2;
    } */
  }

  &.vertical-interact-section {
    h1 {
      padding-bottom: 5px;
    }
    p {
      line-height: inherit;
    }
  }

  .feature-row > div:first-child {
    margin-right: 80px;

    @include media-query($on-tablet) {
      margin-right:0;
    }
  }

  h1 {
    padding: 0;
    margin:0;
    // For scrolling to heading
    padding-top: 90px;
    margin-top: -90px;
    border: none;
    padding-bottom: 5px;
    font-size:34px;
  }

  p {
    //line-height: 2em;
  }
}
.call-to-action {
  @extend .feature-section;
  @include remove-typo-margin;
  @include make-typo-white;
  background:$brand-color;
}
.feature-blue {
  @include make-typo-white;
  background: $brand-700;

  * {
    color: #FFF;
  }
}
.feature-gray {
  background: $background-gray;

  .vertical-tabs {
    .tab-item {
      background: #9EB1C1;
      color: rgba(255,255,255,0.875);

      &::after {
        border-right-color: #9EB1C1;
      }
    }
  }
}
.feature-black {
  background: $background-black;

  a {
    color: $brand-secondary;

    &:hover {
      color: $brand-color;
    }
  }

  * {
    color: #FFF;
  }
}