.feature-section {
  @include remove-typo-margin;
  padding: 70px 0;
  background: #FFF;

  div[layout=row].feature-row > div:first-child {
    margin-right: 80px;
  }

  h1 {
    padding-bottom: $spacing-unit;
    font-size:34px;
  }

  p {
    line-height: 2em;
  }
}
.call-to-action {
  @extend .feature-section;
  @include remove-typo-margin;
  @include make-typo-white;
  background:$brand-color;
}
.feature-blue {
  @include make-typo-white;
  background: $brand-700;
}
.feature-gray {
  background: $background-gray;
}
.feature-black {
  background: $background-black;
}