.v2-frame {
  background: #BBDEFB;
  border-radius: 3px;
  border: 2px solid #0D47A1;
  padding: 8px 12px;
  color: #0D47A1 !important;

  hr,h1,blockquote {
    border-color:#0D47A1 !important;
  }

  * {
    color: #0D47A1 !important;
  }
}