.feature-jumbo {
  padding: $spacing-unit * 4 0;
  background-repeat: no-repeat;
  background-size: cover;

  .jumbo-content {
    /*position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);*/

    > .jumbo-title {
      //placeholder
      // heading 3 font-size
      font-size: 24px;
    }
    > .jumbo-subtitle {
      //placeholder
      // subhead font-size
      font-size: 11px;
    }

    > * {
      text-align: center;
      color: rgba(255, 255, 255, 0.875);
    }
  }
}