v2-slideshow, v2-slide {
  display: block;
}
v2-slideshow {
  position: relative;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
}

v2-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &.left {
    left: 2%;
    right: auto;
  }
  &.right {
    right: 2%;
    left: auto;
  }

  > md-icon {
    width: 50px;
    height: 50px;

    > svg {
      fill: rgba(255,255,255,0.8);
    }
  }
}

.carousel-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30% !important;
  text-align: center;
  list-style: none;

  > li {
    display: inline-block;
    width: 20px;
    outline: none;
    height: 20px;
    margin: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(50,50,50,.1);
    border: 1px solid #d2d2d2;
    border-radius: 50%;
    transition: all 0.3s ease;

    &.active,&:hover {
      background-color: #aaaaaa;
      transform: scale(1.3);
    }
  }
}