.v2-note {
  padding: $spacing-unit;
  color: $heading-color;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.26);
}

.v2-note-primary {
  background: $brand-secondary;
  color: $heading-color;
}

.v2-note-warn {
  background: $brand-accent;
}
