---
layout: page
---

<style>
  @font-face {
    font-family: Anton;
    src: url('{{site.baseurl}}/fonts/Anton-Regular.ttf');
  }

  @font-face {
    font-family: Atma;
    src: url('{{site.baseurl}}/fonts/Atma-Regular.ttf');
  }

  @font-face {
    font-family: Caveat_Brush;
    src: url('{{site.baseurl}}/fonts/CaveatBrush-Regular.ttf');
  }

  @font-face {
    font-family: Caveat;
    src: url('{{site.baseurl}}/fonts/Caveat-Regular.ttf');
  }

  @font-face {
    font-family: Handlee;
    src: url('{{site.baseurl}}/fonts/Handlee-Regular.ttf');
  }
</style>

<div id="comic">
  {{content}}
</div>
