<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include board-bar.html %}

    <div class="jumbotron">
      <div class="container">
        {% for board in site.data.board-bar %}
        {% if page.url contains board.url %}
        <h1>{{board.title}}</h1>
        <p>{{board.subtitle}}</p>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    
    {% for board in site.data.board-bar %}
    {% if page.url contains board.url %}
    {% assign boardName = board.url | remove: "/" %}
    {% assign bookbar = site.data[boardName].book-bar %}
    {% endif %}
    {% endfor %}
    
    {% include book-bar.html nav=bookbar board=boardName %}
    
    {{ content }}

    {% include footer.html %}

  </body>

</html>
