---
layout: default
---

{% for board in site.data.board-bar %}
  {% if page.url contains board.url %}
    {% assign boardName = board.menu %}
    {% assign boardUrl = board.url | remove: "/" %}
    {% assign bookbar = site.data[boardUrl].book-bar %}
  {% endif %}
{% endfor %}

<div class="feature-content content-body">
  {% include article-jumbo/article-jumbo.html %}
	<div flex class="post-content">
     {{ content }}
  </div>
</div>

{% if page.backTop %}
	<md-button aria-label="Back To Top" id="back-top" class="md-primary md-fab" href="{{page.backTop}}" du-smooth-scroll>
		<md-icon>
			{% include icons/ic_expand_less_black_24px.svg %}
		</md-icon>
	</md-button>
{% endif %}