---
layout: default
---

{% if page.articleBar %}
  {% assign articleBar = page.articleBar %}
{% else %}
  {% assign articleBar = 'yes' %}
{% endif %}

{% for board in site.data.board-bar %}
{% if page.url contains board.url %}
{% assign boardName = board.menu %}
{% assign boardUrl = board.url | remove: "/" %}
{% assign bookbar = site.data.[boardUrl].book-bar %}
{% endif %}
{% endfor %}

<div class="post">

  <div layout="row" layout-sm="column" no-gap>
    {% if articleBar == 'yes' %}

    {% include article-bar.html nav=bookbar board=boardUrl %}

    {% endif %}
    <div flex class="article md-whiteframe-5dp"  {% if articleBar == 'no' or page.feature %}style="max-width:inherit"{% endif %} >

      {% include article-jumbo/article-jumbo.html %}

      <div layout="row" no-gap>

        <!--Article-->

        <md-content flex class="post-content">

          {% include embed-toc.html %}

          <div id="article-content">
            {{content}}
          </div>
        </md-content>

      </div>
    </div>


    {% include contents-bar.html %}

  </div>

</div>