.content-body {
  padding-left: 5px;
  padding-right: 5px;
}

.article {
  background:#FFF;
  z-index:99;
  max-width: 900px;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 5px 8px 0px rgba(0,0,0,0.14), 0px 1px 14px 0px rgba(0,0,0,0.12);

  .article-content {
    padding: $spacing-unit;

    @include media-query($on-mobile) {
      padding: $spacing-unit / 2;
    }
  }
}