#article-bar {
  //border-right: 1px solid #BBB;
  max-width: 230px;

  > .v2-bookinfo {
    padding: 0 $spacing-unit / 2;

    > p {
      color: $gray-color;
      font-size:12px;
    }

  }
}

.article-nav {

  // consider the sticky navbar and margin-top
  //max-height: calc(100vh - 89px);
  overflow-y:auto;
  margin-left:0;
  top: $spacing-unit * 2;
  display: block;
  max-height: calc(100vh - #{$bookbar-height});

  ul {
    margin-left: 0;
  }

  .nav-link {
    text-transform: none;
    font-size:  1.2em;
  }

  li:not(.article-group-header) {
    position: relative;

    a {
      padding: 8px $spacing-unit / 2;
      font-size: 15px;
      color: $gray-700;
    }

    &:hover,&.active {

      > a {
        background: $gray-200;
        color:#000;
      }

    }
  }

  > li.article-group-header {


   > a {
     display: flex;
     -webkit-box-align: start;
     -webkit-align-items: flex-start;
     align-items: flex-start;
     -webkit-align-content: flex-start;
     align-content: flex-start;
     padding: 5px $spacing-unit / 2;
     font-size: 14px;
     cursor: pointer;
     border-bottom: 1px solid $gray-400;
     user-select: none;
     color: $gray-color;
     position: relative;
     text-transform: none;

     &:hover {
       text-decoration: none;
     }


     > .article-group-foldicon {
      color: $gray-color;
      display: inline-block;
      transition: all 150ms ease-in-out;
      line-height: 0;
     }
   }
}
}
