$board-nav-height: 72px;
$board-nav-margin: 15px;
$board-nav-breakpoint: 774px;
$board-nav-border: 6px;

#v2-navbar {
  min-height: $board-nav-height;
  //z-index: 9999;
  background-color:$brand-700 !important;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
.v2-navbar-brand {
  padding-left:0;
  height: $board-nav-height;
  padding-top: $spacing-unit / 3;
  padding-bottom: $spacing-unit / 3;
}
.v2-navbar-nav {
  position: relative;
  top: initial;
  left: initial;
  bottom: initial;
  right: initial;
  transform: none;
  height: auto;
  overflow: auto;
  background: $brand-700;

  @include media-query($on-mobile) {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  >.v2-navbar-nav-md {
    flex-direction: row;
  }


  > .v2-navbar-nav-md > li {

    border-bottom: $board-nav-border solid transparent;
    margin-left: $board-nav-margin;
    position: relative;
    transition: all .3s ease;
    margin-top: $board-nav-border;

    @include media-query(875px) {
      margin-left: 2px;
    }

    &:first-child {
      margin-left:0;
    }

    &.active {
      border-color:#FFF;
    }

    &:hover {
      border-color: #FFF;

      a {
        background-color:transparent;
        color:#FFF;
      }
    }

    a {
      height:auto;
      line-height: $board-nav-height - $board-nav-border;
      background: transparent;
      cursor:pointer !important;
      color:white;
      transition: all .3s ease;

      @include media-query($on-mobile) {
        padding-left: $spacing-unit / 3 !important;
        padding-right: $spacing-unit / 3 !important;
      }

      &:focus {
        border-color: white;
        background-color: transparent;
        color:white;
      }
    }
  }

  > .v2-navbar-nav-xs {
    @include remove-typo-margin;

    // display: none;

    // @include media-query ($board-nav-breakpoint) {
    //   display: flex;
    // }

    > .v2-navbar-toggle-header, .v2-navbar-toggle{
      color: #FFF;
      line-height: $board-nav-height;
    }

  }
}
.v2-navbar-md-nav
.v2-navbar-brand {
  padding-left:0;
}
