$bookbar-height: 51px;

.v2-bookbar {
  background:$brand-color;
  height: $bookbar-height;
  z-index: 999;

  box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.28);
  position: relative;

  &.uk-active {
    z-index: 1000;
  }
}
.v2-bookbar-nav {
  > .v2-bookbar-nav-md {
    // To left align the text with the container border with underline
    margin-left: -15px;

    > li {
      // for the ripple
      position: relative;

      > a {
        color:rgba(255,255,255,.87);
        line-height: $bookbar-height;
        height:inherit;
        text-transform: none;
      }

      // Underline
      &:after {
        height: 4px;
        width: 100%;
        display: block;
        content: " ";
        bottom: 0;
        left: 0;
        position: absolute;
        transition: all .3s ease;
        background: transparent;
      }

      &:hover > a,  &.uk-active > a{
        background: transparent;
        color: #FFF;
      }

      &.uk-active:after, &:hover:after {
        background: $brand-accent;
      }

    }
  }

  > .v2-bookbar-nav-xs {
    @include remove-typo-margin;
    height: $bookbar-height;
    margin-left: -17px;

    > .v2-bookbar-title {
      color: #FFF;
    }
    // Set the icon to white
    > .v2-bookbar-toggle {
      color:#FFF;
    }

  }
}
