#comic {
  font-family: $base-comic-family;
  font-size: 1.125em;

  // Headings
  h1, h2, h3 {
    border: 0;
    padding: 0;
    text-align: center;
    font-family: $base-comic-family;
  }

  h1 {
    font-family: $base-comic-heading-family;
    color: $brand-color;
    font-weight: bold;
    font-size: $fontSize-title;
    line-height: $heading-lineHeight;
    margin-top: $fontSize-title * 2;
    margin-bottom: $fontSize-title;
    @include media-query ($on-mobile) {
      font-size: $fontSize-h1;
    }

    @media screen and (device-aspect-ratio: 40/71) {
      font-size: $fontSize-h1 - 5px;
    }
  }

  h2, h3 {
    color: $heading-color;
    font-weight: bold;
  }

  h2 {
    font-size: $fontSize-h1 !important;
    line-height: 1;
    margin-bottom: 30px;
    color: $brand-secondary;
    margin-top: $fontSize-h1 * 2;
    margin-bottom: $fontSize-h1;
    @include media-query ($on-mobile) {
      font-size: $fontSize-h2;
    }

    @media screen and (device-aspect-ratio: 40/71) {
      font-size: $fontSize-h2 - 5px !important;
    }
  }

  h3 {
    font-size: $fontSize-h2 !important;
    line-height: 1;
    margin-top: $fontSize-h2 * 2;
    margin-bottom: $fontSize-h2;
    @include media-query ($on-mobile) {
      font-size: $fontSize-h3;
    }

    @media screen and (device-aspect-ratio: 40/71) {
      font-size: $fontSize-h3 - 5px !important;
    }
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 0;
    margin-bottom: 0;
  }

  p {
    margin-bottom: $spacing-unit / 2;
  }

  .poem {
    text-align: center;
    font-size: 1.6em;
    line-height: 1.4;
    margin-bottom: 0;
  }

}
