svg {
  fill: currentColor;
}


.img-icon {
  width: 24px;
  height: 24px;
  //margin-right: auto;
  //margin-left: auto;
  display: inline-block;
  z-index: 1000;
  margin-right: 5px;
}

.menu-svg {
  width: 24px;
  height: 24px;
  margin-right: $spacing-unit / 2;

  > svg {
    width: 24px;
    height: 24px;
  }
}