ul.uk-nav-sub {
  padding-left:$spacing-unit;
}
md-content {
  background: transparent;

  h1 {
    color: $heading-color;
    font-size: 45px;
    margin-top: -10px;
    margin-left: -$spacing-unit;
    margin-bottom: 30px;
    margin-right: -$spacing-unit;

    padding: 100px $spacing-unit 5px $spacing-unit;
    border-bottom: 1px solid $gray-400;

    @include media-query($on-mobile) {
      font-size:  34px;
      margin-right: -$spacing-unit / 2;
      margin-left: -$spacing-unit / 2;
      padding-left: $spacing-unit / 2;
      padding-right: $spacing-unit / 2;
    }
  }

  h2 {
    font-size: 24px !important;
    color: $heading-color;
    margin-top: -32px;
    padding-top:70px;
    margin-bottom:7px;
  }

  h3 {
    font-size: 20px !important;
    color: $heading-color;
    margin-top: -43px;
    padding-top: 70px;
    margin-bottom: 4px;
  }

  img {
    border: 3px solid #666;
  }


  ul>li>ul,
  ol>li>ul,
  ul>li>ol,
  ol>li>ol{
    margin-left: 15px;
  }

  .footnote {

  }
}

.caption-text {
  margin-top: ($spacing-unit / 2) / 2 !important;
}