ul.uk-nav-sub {
  padding-left:$spacing-unit;
}

.article-content {
  h1,h2,h3,h4 {
    margin-bottom: .5rem;

    &::before {
      content: "";
      display: block;
      height: 6rem;
      margin-top: -6rem;
      visibility: hidden;
      pointer-events: none;
    }
  }

  h1,h2 {
    font-family: Roboto-Regular, $base-font-family;
  }

  h1 {
    border-bottom: 1px solid #e0e0e0;
    margin-left: -$spacing-unit;
    margin-right: -$spacing-unit;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
    color: $brand-color;

    @include media-query($on-mobile) {
    margin-left: -$spacing-unit / 6;
    margin-right: -$spacing-unit / 6;
    padding-left: $spacing-unit / 6;
    padding-right: $spacing-unit / 6;
    }
  }

  h1:not(:first-child) {
    margin-top: 6rem;
  }
  h2 {
    margin-top: 3rem;
  }
}

md-content {
  background: transparent;

  @media screen and (device-aspect-ratio: 40/71) {
    .article-content {
      padding-left: $spacing-unit / 3;
      padding-right: $spacing-unit / 3;
    }

    p {
      font-size: 0.875em;
    }

    md-card {
      margin-left: 0;
      margin-right: 0;
    }
  }

  h1 {
    color: $heading-color;
    font-size: 45px;
    margin-top: -10px;
    margin-left: -$spacing-unit;
    margin-bottom: 30px;
    margin-right: -$spacing-unit;

    padding: 100px $spacing-unit 5px $spacing-unit;
    border-bottom: 1px solid $gray-400;

    @include media-query($on-mobile) {
      font-size:  34px;
      margin-right: -$spacing-unit / 2;
      margin-left: -$spacing-unit / 2;
      padding-left: $spacing-unit / 2;
      padding-right: $spacing-unit / 2;
    }
  }

  .subtitle {
    font-size: 20px;
    margin-top: -10px;
    color: $gray-color;
  }

  h2 {
    font-size: 24px !important;
    color: $heading-color;
    margin-top: -32px;
    padding-top:70px;
    margin-bottom:7px;
  }

  h3 {
    font-size: 20px !important;
    color: $heading-color;
    margin-top: -43px;
    padding-top: 70px;
    margin-bottom: 4px;
  }

  hr {
    margin-right: -$spacing-unit;
    margin-left: -$spacing-unit;
    @include media-query ($on-tablet) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  img {
    border: 3px solid $gray-700;
    margin-bottom: $spacing-unit;
  }


  ul>li>ul,
  ol>li>ul,
  ul>li>ol,
  ol>li>ol{
    margin-left: $spacing-unit / 2;
  }

  .desktop-img {
    display:block !important;

    @include media-query ($on-mobile) {
      display: none !important;
    }
  }

  .mobile-img {
    display: none !important;

    @include media-query ($on-mobile) {
      display: block !important;
    }
  }
}

.text-center {
  text-align: center;
}
